.action-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3040c4;
    color: #ffffff;
    width: 160px;
    height: 48px;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 2px;
    padding: 0;
}

.action-button.engage-btn {
    width: 100%;
    @include for-large-up {
        width: 160px;
    }
}

.hide_desctop {
    @include for-large-up {
        display: none;
    }
}

.hide_mobile {
    @include for-large-down {
        display: none;
    }
}