$text-color-green: #009b4d;
$text-color-light-grey: #2b292d99;
$text-color-blue: #3142c6;
$text-color-orange: #F1592B;
$text-color-light-blue: #0189D1;
$text-color-opacity-blue: #edf8fb;
$color-light: #F4F5F7;
$border-color: rgba(43, 41, 45, 0.2);
$color-dark: #2B292D;
$bgc-stories-header: #F3C6BD;
$color-light-blue: #0185D0;
$color-light-pink: #fef9f4;
$color-easy-grey: #d5d4d5;
$color-ball-blue: #3142C5;